<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <img class="w-full" src="<%= @house.image %>" alt="<%= @house.real_state%>">
  
  <div><%= link_to "Acesso ao site", @house.origin_url, target: "blank" %></div>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"><%= @house.real_state %></div>
    <p class="text-gray-700 text-base">
      <%= @house.address %>
    </p>
  </div>
  <div class="px-6 py-4">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"><%= @house.bedrooms %></span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"><%= @house.bathrooms %></span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"><%= @house.price %></span>
  </div>
</div>
